@import 'colors';

//Header component
@mixin header() {
  .gradient {
    width: 100%;
    height: 7px;
    background: rgb(29, 64, 122);
    background: linear-gradient(
      90deg,
      rgba(29, 64, 122, 1) 79%,
      rgba(8, 197, 127, 1) 73%
    );
  }

  .bg-header {
    background: $white;
    color: $dark_blue;
    padding: 15px;
    text-align: center;
  }

  .notification,
  .user {
    background: $gray;
    width: 35px;
    height: 35px;
    margin: auto;
    padding-top: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
}
