body {
  background: #f5f6fa;
}

.gradient {
  width: 100%;
  height: 7px;
  background: rgb(29, 64, 122);
  background: linear-gradient(
    90deg,
    rgb(29, 64, 122) 79%,
    rgb(8, 197, 127) 73%
  );
}

.bg-header {
  background: #ffffff;
  color: #161830;
  padding: 15px 0;
  text-align: center;
  box-shadow: inset 0 -1px 0 #e2e2e2;
}
.bg-header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.bg-header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bg-header .nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bg-header .nav-icons .notification,
.bg-header .nav-icons .user {
  background: #f5f6fa;
  width: 35px;
  height: 35px;
  margin: auto;
  padding-top: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.main {
  width: 90%;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 5px;
  padding: 30px 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.main .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .wrapper .btn-new-service {
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: 500;
  background: #08c57f;
  color: #ffffff;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s;
}
.main .wrapper .btn-new-service:hover {
  background: #07a56b;
}
.main .research-field {
  width: 100%;
  margin-bottom: 30px;
}
.main .research-field .form-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .research-field .field {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 5px;
  background: #f5f6fa;
  border-radius: 5px;
}
.main .research-field .input {
  background: #f5f6fa;
  color: #757575;
  padding: 8px;
  border: none;
  outline: none;
  margin-top: 3px;
}
.main .research-field .submit-btn {
  border: none;
  background: #f5f6fa;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  padding: 8px 12px;
  transition: 0.2s;
}
.main .research-field .submit-btn:hover {
  background: #ebecf0;
}
.main .research-field .submit-btn:active {
  background-color: #e2e3e6;
}
.main .title-table {
  font-size: 1.125rem;
  color: #216bff;
  position: relative;
  cursor: pointer;
}
.main .title-table::after {
  display: block;
  content: '';
  width: 90px;
  height: 5px;
  position: absolute;
  bottom: -20px;
  border-radius: 5px;
  background: #216bff;
}

.tabelinha {
  width: 100%;
}
.tabelinha thead {
  color: #9c9898;
  border-bottom: 2px solid #161830;
}
.tabelinha td,
.tabelinha th {
  padding: 10px 5px;
}
.tabelinha .service {
  font-weight: 500;
  color: #111111;
  border-radius: 5px;
}
.tabelinha .service:nth-child(odd) {
  background: #f5f6fa;
}

.modal .form-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0 0 0;
}
.modal .form-modal .field-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modal .form-modal .field-modal label {
  color: #111111;
  font-weight: 500;
}
.modal .form-modal .field-modal input,
.modal .form-modal .field-modal select {
  width: 65%;
  padding: 8px;
  background: #f5f6fa;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 0.875rem;
}
.modal .form-modal .field-modal input[type=date]:hover,
.modal .form-modal .field-modal select:hover {
  cursor: pointer;
}
.modal .form-modal .btn-submit-modal {
  border: none;
  padding: 8px 25px;
  font-size: 1rem;
  border-radius: 7px;
  font-weight: 500;
  background: #08c57f;
  color: #ffffff;
  transition: 0.2s;
  cursor: pointer;
}
.modal .form-modal .btn-submit-modal:hover {
  background: #07a56b;
}

/*# sourceMappingURL=styles.css.map */
