@import '../../styles/theme.scss';

.bg-header {
  background: $white;
  color: $dark_blue;
  padding: 15px 0;
  text-align: center;
  box-shadow: inset 0 -1px 0 #e2e2e2;
}

.header-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;

  .wrapper-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: small;

    p {
      margin: 0;
    }
  }

  .notification,
  .user {
    background: $gray;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
}
