@import '../../styles/theme.scss';

.bg-header {
  background: $white;
  color: $dark_blue;
  padding: 15px 0;
  text-align: center;
  box-shadow: inset 0 -1px 0 #e2e2e2;
}

.header-content {
  display: flex;
  align-items: center;
  max-width: 1170px;
  margin: auto;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;

  .notification,
  .user {
    background: $gray;
    width: 35px;
    height: 35px;
    margin: auto;
    padding-top: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
}
